/* CSS declarations go here */
@font-face {
    font-family: abril_bold;
    src: url("Fonter/Abril/Abril_Display_Bold.otf") format("opentype");
}

h2 {
    font-family:  "Abril Fatface" !important;
}

h3 {
    font-family:  "Abril Fatface" !important;
}

h4 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif !important;
    opacity: 0.5;
}

p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif !important;
}

.navigation {
    background: linear-gradient(to right, #6e0028, black); /* Standard syntax */
    height: 20px;
    margin: 0 -15px 0 -15px;
}

.header {
    height: 30px;
}

.navigation .container p{
    color: #fff;
    text-align: right;
    word-spacing: 20px;
}

.main-content {
    height: 50vw;
}


.btn-link {
    color: #000 !important;
}

.custom-btn {
    font-size: 15pt;
}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #000;
    display: inline-block;
    margin-top: 10px;
    /* width and height can be anything, as long as they're equal */
}

.btn-link:focus, .btn-link:hover {
    color: #000;
}

.ratio{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-title {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 10;
    color: #000;
    font-size: 40px !important;
    font-weight: bold;
}

p.capitalize {
    text-transform: uppercase;
}

.verticaltext {
    position: relative;
    padding-left:20px;
    margin:1em 0;
    min-height:140px;
}

.verticaltext_content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    top: 20px;
    position: absolute;
    color: #000;
    font-size: 20px;
}

.left-col-tekst {
    font-family: Futura;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.right-col {
    margin-top: 30px;
}

button {
    text-transform: uppercase !important;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #ff005e 0, #ff005e 100%) !important;
    background-color: #ff005e !important;
}

.btn {
    border-radius: 0 !important;
    border: 0 !important;
}

.btn-md {
    font-size: 12px !important;
    padding: 15px 25px !important;
}

.btn-sm {
    font-size: 10px !important;
    padding: 10px 10px !important;
}

.ticket-count {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ticket-list {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 10px;
}

.table-element {
    width: 56px;
}

.advert {
    margin-top: 20vw;
    margin-left: 3vw;
    z-index: 10;
    width: 200px;
    height: 200px;
    background: #ff005e;
    position: absolute;
}

.remove-sign {
    font-size: 30px;
    color: #282828;
}

.remove-btn {
    top: -23px !important;
    left: 150px;
    position: relative;
}

.circle-under {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #FFF;
    top: 10px;
    left: 164px;
    position: relative;
}

.credits {
    font-size: 10px;
}

@media (max-width: 1000px) {
    .left-col {
        display: none;
    }
}